@model List<BlogProject.Data.ApplicationUser>
@inject Microsoft.AspNetCore.Identity.UserManager<BlogProject.Data.ApplicationUser> _userManager
@using Microsoft.AspNetCore.Identity

<div class="container">
    <h1 class="mt-4">List of Users</h1

    <div class="card">
        <div class="card-body">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Email</th>
                        <th>Roles</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var user in Model)
                    {
                        <tr>
                            <td>@user.Email</td>
                            <td>
                                @foreach (var role in await _userManager.GetRolesAsync(user))
                                {
                                    <span>@role</span>
                                }
                            </td>
                            <td>
                                <div class="btn-group" role="group" aria-label="User Actions">
                                    <a class="btn btn-info" href="@Url.Action("Details", new { id = user.Id })">Details</a>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
